.DisplayCards {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  min-width: 1000px;
}

.Cards-Content {
  margin: 100px 0px 0px 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.Statement {
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1150px) {
  .Statement {
    font-size: 40px;
  }
}

.Cards-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Card {
  height: 200px;
  width: 45%;
  min-width: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  padding: 20px;
  border: none;
}

.Card:hover {
  background-color: #ffc4d3 !important;
  color: #212121;
  border: none;
}

.Card-Text {
  text-align: center;
  font-size: 24px;
  margin: 0px;
}

.Dimension {
  height: 36%;
  width: 88%;
  min-width: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.Edit,
.Save,
.Cancel {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
}

.Edit {
  height: 30px;
}

.Cancel {
  right: 50px;
}

.TextInput {
  font-family: "ABeeZee";
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: text;
  border: solid black;
}

.Progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: 15px;
}

.Progress-Bar {
  width: 75%;
  margin: 5px 0px 0px;
}
