.DisplayCards {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  height: 100vh;
}

.DisplayCards-Header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100px;
  padding: 10px 15px;
}

.DisplayCards-Logo-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo {
  height: 65px;
  pointer-events: none;
  margin: 0px 10px 0px 0px;
}

.DisplayCards-Logo-Title {
  display: flex;
  font-family: "MyHappyEnding";
  color: white;
  font-size: 100px;
  font-weight: normal;
  margin: 15px 15px 0px 0px;
}

.Content {
  margin: 100px 0px 0px 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.Statement {
  display: flex;
  font-size: 60px;
  justify-content: center;
  text-align: center;
}

.Cards-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Card {
  height: 300px;
  width: 45%;
  min-width: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 4px 4px 10px #212121;
  cursor: pointer;
}

.Card:hover {
  background-color: #ffc4d3;
  color: #212121;
  border: none;
}

.Card-Text {
  text-align: center;
  font-size: 30px;
  margin: 0px;
}

.Navigation {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 15px 30px;
}

.NavigationButton {
  height: 80px;
  width: 150px;
  cursor: pointer;
}

.Navigation-Button-Text {
  font-size: 30px;
}
