.Navigation-Container {
  margin-bottom: 2em;
  margin-top: 2em;
  display: inline-block;
  white-space: nowrap;
}

.Navigation-Button {
  font-size: 3em;
  color: #ff9cb8;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.Navigation-Button:disabled {
  color: grey;
}
.Instructions-Container {
  text-align: center;
}

.Instructions-Image {
  padding: 3em;
}

.Instructions-Text {
  text-align: left;
}
