.Navigation-Container {
  margin-bottom: 2em;
  margin-top: 2em;
  display: inline-block;
  white-space: nowrap;
}

.Navigation-Button {
  font-size: 4em;
  color: #ff9cb8;
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: min-content;
}
@media (max-width: 1000px) {
  .Navigation-Button {
    font-size: 2em;
  }
}
.Navigation-Button:disabled {
  color: grey;
  cursor: not-allowed;
  background-color: transparent;
}
.Navigation-Button:hover,
.Navigation-Button:focus {
  background-color: transparent !important;
}

.Instructions-Container {
  text-align: center;
  overflow-y: auto;
  height: 100%;
}

.Instructions-Image {
  padding-top: 3em;
  padding-bottom: 3em;
  height: auto;
  width: auto;
}

.Instructions-Text {
  text-align: left;
  font-size: medium;
  overflow: auto;
}

.Instructions-Counter {
  background-color: white;
  position: absolute;
  bottom: 2em;
}
