.Navigation {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  padding-bottom: 20px;
  width: 90%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgb(246, 247, 252, 1)
  );
}

.NavigationButton {
  height: 80px;
  width: 150px;
  cursor: pointer;
}

.Navigation-Button-Text {
  font-size: 30px;
}
