.Replay {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  min-width: 700px;
}

.Replay-Content {
  display: flex;
  height: calc(100% - 100px);
  justify-content: center;
  margin-top: 100px;
}

.Replay-Options-Panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 40vw;
  min-width: 500px;
  height: min-content;
  padding: 30px;
  margin: 100px;
}

.Success-Text {
  font-family: "ABeeZee";
  color: #1f1f1f;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

.Replay-Buttons-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 15px 0px;
  height: 135px;
}

.Replay-Button {
  background-color: #ff9cb8;
  height: 60px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  font-size: 24px;
}

.Replay-Button:hover,
.Replay-Button:focus {
  background-color: #ffc4d3;
  color: #212121;
}
