body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css?family=ABeeZee");

@font-face {
  font-family: "MyHappyEnding";
  src: local("MyHappyEnding"), url(./fonts/MyHappyEnding.ttf) format("truetype");
}

code {
  font-family: "ABeeZee", "MyHappyEnding";
}
